@import "variables";
@import "mixins";

.header {
  display: flex;
  justify-content: space-between;
  background: color(medium);
  align-items: center;
  height: 15vh;
}

.nav-logo-set {
  display: flex;
  .logo-link {
    @include link-reset;
  }
}

.nav-logo {
  display: flex;
  padding: 7px;
  height: 80px;
  width: 80px;
}

.nav-title {
  display: flex;
  align-items: center;
  margin: 1em;
  font-size: 3em;
  color: color(dark);
}
.logout-button {
  @include hidden-button-mixin;
}
.inactive-nav {
  @include link-reset;
  color: color(dark);
  font-weight: bold;
  &:hover {
    border-bottom: 1px solid color(dark);
  }
}
.active-nav {
  @include link-reset;
  color: color(dark);
  font-weight: bold;
  border-bottom: 2px solid color(dark);
}
