@mixin button-mixin(
  $btn-bg-color: color(dark2),
  $btn-txt-color: color(light),
  $btn-width: 80%,
  $btn-height: auto,
  $btn-margin: auto
) {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: $btn-bg-color;
  color: $btn-txt-color;
  text-align: center;
  width: $btn-width;
  height: $btn-height;
  border: 0;
  margin: $btn-margin;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: color(dark);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  }
}

@mixin form-input($ipt-width: 94%, $ipt-padding: 0.5em, $ipt-margin: auto) {
  width: $ipt-width;
  color: darkslategray;
  padding: $ipt-padding;
  border-radius: 5px;
  border: 2px solid darken(color(light), 10);
  margin: $ipt-margin;
  &:focus {
    outline: none;
    border: 2px solid color(medium);
  }
  ::placeholder {
    color: color(medium);
  }
}

@mixin tags {
  border: none;
  box-shadow: inset 0 0 0 1px rgba(28, 154, 164, 0.3);
  padding: 0.2em 0.4em;
  margin: 0.2em;
  min-width: 50px;
  text-align: center;
  width: auto;
  background-color: white;
  transition: 0.3s;
  &:hover {
    color: darken(color(dark), 10);
    background-color: color(medium);
  }
  &:focus {
    outline: none;
  }
}
@mixin active-tag {
  background-color: darken(color(medium), 10);
  color: darken(color(dark), 10);
}

@mixin link-reset {
  text-decoration: none;
  outline: none;
  font-size: 1em;
  margin: 0.5em 1em;
}

@mixin card {
  background: linear-gradient(lighten(color(light), 5), white);
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

@mixin full-page-card {
  @include card;
  width: 80%;
  max-width: 950px;
  margin: 4em auto;
  text-align: left;
  padding: 5em 10%;
}

@mixin hidden-button-mixin {
  border: none;
  text-decoration: none;
  background: transparent;
  font-size: 1em;
}
@mixin icon-normal {
  color: darken(color(medium), 10);
  transition: 0.3s;
  &:hover {
    color: color(dark);
  }
}
@mixin icon-warning {
  color: color(warning);
  transition: 0.3s;
  &:hover {
    color: tint(color(warning), red, 70);
  }
}

@function tint($tint, $color, $percent) {
  @return mix($tint, $color, $percent);
}

$phone-breakpoint: 550px;
$tablet-breakpoint: 850px;
