$rtb: 2px dashed red;

$colors: (
  dark: #136b72,
  dark2: lighten(#136b72, 10),
  medium: #aae4ec,
  light: #ffffd3,
  // light: #d8e4e3,
    orange: #be8975,
  red: #d4544a,
  gray: #444,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
